.edit-app-page{
    .user-info,.user-message{
        border-radius: 12px;
    }
    .user-message{
        margin-top: 20px;
    }
    .arco-form-label-item > label {
        font-size: 14px;
        white-space: normal;
        color: var(--color-text-2);
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}